{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2026-08-25",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"isb",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Innovation Sandbox on AWS",
    "serviceId":"Isb",
    "signatureVersion":"v4",
    "signingName":"execute-api",
    "uid":"isb-2026-08-25"
  },
  "operations":{
    "CreateLeaseTemplate":{
      "name":"CreateLeaseTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/leaseTemplates",
        "responseCode":201
      },
      "input":{"shape":"CreateLeaseTemplateInput"},
      "output":{"shape":"CreateLeaseTemplateOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Creates a lease template.</p> <p>Not idempotent: the identifier is generated server-side per invocation, so a retried request creates a second template. Callers must not retry.</p>"
    },
    "DeleteBlueprint":{
      "name":"DeleteBlueprint",
      "http":{
        "method":"DELETE",
        "requestUri":"/blueprints/{blueprintId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBlueprintInput"},
      "output":{"shape":"DeleteBlueprintOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Unregister (delete) a blueprint. 404 when it does not exist; 409 when it is still in use by one or more lease templates.</p>",
      "idempotent":true
    },
    "DeleteLeaseTemplate":{
      "name":"DeleteLeaseTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/leaseTemplates/{leaseTemplateId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLeaseTemplateInput"},
      "output":{"shape":"DeleteLeaseTemplateOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Deletes a lease template.</p> <p>Idempotent: deleting a template that does not exist also returns success.</p>",
      "idempotent":true
    },
    "EjectAccount":{
      "name":"EjectAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{awsAccountId}/eject",
        "responseCode":200
      },
      "input":{"shape":"EjectAccountInput"},
      "output":{"shape":"EjectAccountOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Eject an account from ISB back to the Entry OU. 404 when missing; 409 while cleanup is in progress.</p>"
    },
    "FreezeLease":{
      "name":"FreezeLease",
      "http":{
        "method":"POST",
        "requestUri":"/leases/{leaseId}/freeze",
        "responseCode":200
      },
      "input":{"shape":"FreezeLeaseInput"},
      "output":{"shape":"FreezeLeaseOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Freeze an active lease. The success body is <code>{&quot;status&quot;:&quot;success&quot;}</code>. 404 when the lease is missing; 409 when it is not active, an account is not in the expected state, or a competing critical operation holds the lock.</p>"
    },
    "GetAccount":{
      "name":"GetAccount",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{awsAccountId}",
        "responseCode":200
      },
      "input":{"shape":"GetAccountInput"},
      "output":{"shape":"GetAccountOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Get a single registered account by id. 404 when it does not exist.</p>",
      "readonly":true
    },
    "GetBlueprint":{
      "name":"GetBlueprint",
      "http":{
        "method":"GET",
        "requestUri":"/blueprints/{blueprintId}",
        "responseCode":200
      },
      "input":{"shape":"GetBlueprintInput"},
      "output":{"shape":"GetBlueprintOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Get a single blueprint (with StackSets and recent deployments) by id. 404 when it does not exist.</p>",
      "readonly":true
    },
    "GetCleanupConfiguration":{
      "name":"GetCleanupConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configurations/cleanup",
        "responseCode":200
      },
      "output":{"shape":"GetCleanupConfigurationOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Reads the <code>cleanup</code> configuration section: its current values (or code defaults if never saved) plus the <code>lastSavedBy</code> audit field. Fails fast with 500 if the stored record fails schema validation (unlike <code>GetConfigurations</code>, which skips invalid sections). Accessible by Admin, Manager, and User roles.</p>",
      "readonly":true
    },
    "GetConfigurations":{
      "name":"GetConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/configurations",
        "responseCode":200
      },
      "output":{"shape":"GetConfigurationsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Returns every configuration section plus the deploy-time fields the settings UI needs. A never-saved section is returned with its code-default field values, a null <code>lastSavedBy</code>, and no <code>meta</code>.</p>",
      "readonly":true
    },
    "GetCostReportingConfiguration":{
      "name":"GetCostReportingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configurations/costReporting",
        "responseCode":200
      },
      "output":{"shape":"GetCostReportingConfigurationOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Reads the <code>costReporting</code> configuration section: its current values (or code defaults if never saved) plus the <code>lastSavedBy</code> audit field. Fails fast with 500 if the stored record fails schema validation (unlike <code>GetConfigurations</code>, which skips invalid sections). Accessible by Admin, Manager, and User roles.</p>",
      "readonly":true
    },
    "GetLease":{
      "name":"GetLease",
      "http":{
        "method":"GET",
        "requestUri":"/leases/{leaseId}",
        "responseCode":200
      },
      "input":{"shape":"GetLeaseInput"},
      "output":{"shape":"GetLeaseOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Get a single lease by id. The <code>leaseId</code> is echoed on the returned lease. A caller without read access to an existing lease receives 403; a non-existent lease (for an authorized caller) receives 404.</p>",
      "readonly":true
    },
    "GetLeaseAssignments":{
      "name":"GetLeaseAssignments",
      "http":{
        "method":"GET",
        "requestUri":"/leases/{leaseId}/assignments",
        "responseCode":200
      },
      "input":{"shape":"GetLeaseAssignmentsInput"},
      "output":{"shape":"GetLeaseAssignmentsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Get the assignments view for a lease. Admin/Manager may view any lease; other callers only their own (403 even when the lease does not exist, so existence is not leaked). 404 when the lease does not exist for an authorized caller.</p>",
      "readonly":true
    },
    "GetLeaseTemplate":{
      "name":"GetLeaseTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/leaseTemplates/{leaseTemplateId}",
        "responseCode":200
      },
      "input":{"shape":"GetLeaseTemplateInput"},
      "output":{"shape":"GetLeaseTemplateOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Retrieves a single lease template.</p> <p>A PRIVATE template is reported as 404 rather than 403 to callers without the Admin or Manager role, so the response does not disclose that the identifier exists.</p>",
      "readonly":true
    },
    "GetLeasesConfiguration":{
      "name":"GetLeasesConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configurations/leases",
        "responseCode":200
      },
      "output":{"shape":"GetLeasesConfigurationOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Reads the <code>leases</code> configuration section: its current values (or code defaults if never saved) plus the <code>lastSavedBy</code> audit field. Fails fast with 500 if the stored record fails schema validation (unlike <code>GetConfigurations</code>, which skips invalid sections). Accessible by Admin, Manager, and User roles.</p>",
      "readonly":true
    },
    "GetMaintenanceConfiguration":{
      "name":"GetMaintenanceConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configurations/maintenance",
        "responseCode":200
      },
      "output":{"shape":"GetMaintenanceConfigurationOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Reads the <code>maintenance</code> configuration section: its current values (or code defaults if never saved) plus the <code>lastSavedBy</code> audit field. Fails fast with 500 if the stored record fails schema validation (unlike <code>GetConfigurations</code>, which skips invalid sections). Accessible by Admin, Manager, and User roles.</p>",
      "readonly":true
    },
    "GetNotificationConfiguration":{
      "name":"GetNotificationConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configurations/notification",
        "responseCode":200
      },
      "output":{"shape":"GetNotificationConfigurationOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Reads the <code>notification</code> configuration section: its current values (or code defaults if never saved) plus the <code>lastSavedBy</code> audit field. Fails fast with 500 if the stored record fails schema validation (unlike <code>GetConfigurations</code>, which skips invalid sections). Accessible by Admin, Manager, and User roles.</p>",
      "readonly":true
    },
    "GetTermsOfServiceConfiguration":{
      "name":"GetTermsOfServiceConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configurations/termsOfService",
        "responseCode":200
      },
      "output":{"shape":"GetTermsOfServiceConfigurationOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Reads the <code>termsOfService</code> configuration section: its current values (or code defaults if never saved) plus the <code>lastSavedBy</code> audit field. Fails fast with 500 if the stored record fails schema validation (unlike <code>GetConfigurations</code>, which skips invalid sections). Accessible by Admin, Manager, and User roles.</p>",
      "readonly":true
    },
    "ListAccounts":{
      "name":"ListAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/accounts",
        "responseCode":200
      },
      "input":{"shape":"ListAccountsInput"},
      "output":{"shape":"ListAccountsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Paginated list of registered sandbox accounts. <code>maxResults</code> caps at 2000.</p>",
      "readonly":true
    },
    "ListBlueprints":{
      "name":"ListBlueprints",
      "http":{
        "method":"GET",
        "requestUri":"/blueprints",
        "responseCode":200
      },
      "input":{"shape":"ListBlueprintsInput"},
      "output":{"shape":"ListBlueprintsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Paginated list of registered blueprints (each with its StackSets). <code>maxResults</code> caps at 100. The collection is returned under <code>blueprints</code> (not <code>result</code>).</p>",
      "readonly":true
    },
    "ListCleanupReports":{
      "name":"ListCleanupReports",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{awsAccountId}/cleanup-reports",
        "responseCode":200
      },
      "input":{"shape":"ListCleanupReportsInput"},
      "output":{"shape":"ListCleanupReportsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Paginated recent cleanup reports for an account. <code>maxResults</code> caps at 10 (default 5).</p>",
      "readonly":true
    },
    "ListLeaseTemplates":{
      "name":"ListLeaseTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/leaseTemplates",
        "responseCode":200
      },
      "input":{"shape":"ListLeaseTemplatesInput"},
      "output":{"shape":"ListLeaseTemplatesOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Lists lease templates visible to the caller.</p> <p>PRIVATE templates are filtered at the query layer for callers without the Admin or Manager role, so neither the result set nor the pagination token discloses a PRIVATE template's identifier.</p>",
      "readonly":true
    },
    "ListLeases":{
      "name":"ListLeases",
      "http":{
        "method":"GET",
        "requestUri":"/leases",
        "responseCode":200
      },
      "input":{"shape":"ListLeasesInput"},
      "output":{"shape":"ListLeasesOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Paginated list of leases. Admin/Manager callers list all leases (or filter by <code>userEmail</code>); a regular caller may only list their own (<code>userEmail</code> must be their own, else 403 <code>AccessDeniedError</code>). Each result item carries a <code>leaseId</code>. <code>maxResults</code> caps at 2000.</p>",
      "readonly":true
    },
    "ListSharedLeases":{
      "name":"ListSharedLeases",
      "http":{
        "method":"GET",
        "requestUri":"/leases/shared",
        "responseCode":200
      },
      "input":{"shape":"ListSharedLeasesInput"},
      "output":{"shape":"ListSharedLeasesOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Paginated list of leases shared with a user, by access path. Admin/Manager may query any user; a regular IDC caller may query only their own <code>userId</code> (else 403 <code>AccessDeniedError</code>; M2M callers without an elevated role are refused). Each item carries a <code>leaseId</code>, its <code>accessType</code>, and (for group access) <code>sourceGroupName</code>. <code>maxResults</code> caps at 100.</p>",
      "readonly":true
    },
    "ListStackSets":{
      "name":"ListStackSets",
      "http":{
        "method":"GET",
        "requestUri":"/blueprints/stacksets",
        "responseCode":200
      },
      "input":{"shape":"ListStackSetsInput"},
      "output":{"shape":"ListStackSetsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Paginated CloudFormation StackSets available to attach to a blueprint. <code>maxResults</code> caps at 100.</p>",
      "readonly":true
    },
    "ListUnregisteredAccounts":{
      "name":"ListUnregisteredAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/unregistered",
        "responseCode":200
      },
      "input":{"shape":"ListUnregisteredAccountsInput"},
      "output":{"shape":"ListUnregisteredAccountsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Paginated list of unregistered accounts in the Entry OU. <code>maxResults</code> caps at 20.</p>",
      "readonly":true
    },
    "QuarantineAccount":{
      "name":"QuarantineAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{awsAccountId}/quarantine",
        "responseCode":200
      },
      "input":{"shape":"QuarantineAccountInput"},
      "output":{"shape":"QuarantineAccountOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Manually quarantine an account. 404 when missing; 409 when already quarantined or while cleanup is in progress.</p>"
    },
    "RegisterAccount":{
      "name":"RegisterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts",
        "responseCode":201
      },
      "input":{"shape":"RegisterAccountInput"},
      "output":{"shape":"RegisterAccountOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Register an AWS account with ISB. Accepts only <code>awsAccountId</code>; rejects an ISB administration account (400) and unknown body keys (400, strict). Returns the registered account (201). The Entry-&gt;CleanUp Organizations move surfaces a 409 (ConflictError) when the account is no longer where expected (someone moved it out of the Entry OU) or the organization was concurrently modified — the same mapping the other OU-moving actions carry.</p>"
    },
    "RegisterBlueprint":{
      "name":"RegisterBlueprint",
      "http":{
        "method":"POST",
        "requestUri":"/blueprints",
        "responseCode":201
      },
      "input":{"shape":"RegisterBlueprintInput"},
      "output":{"shape":"RegisterBlueprintOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Register a blueprint from an existing CloudFormation StackSet. Returns the created blueprint (201). A missing StackSet is 404; a SERVICE_MANAGED (or otherwise unsupported) permission model is 400. Retry: not idempotent — a re-POST creates another blueprint.</p>"
    },
    "RequestLease":{
      "name":"RequestLease",
      "http":{
        "method":"POST",
        "requestUri":"/leases",
        "responseCode":201
      },
      "input":{"shape":"RequestLeaseInput"},
      "output":{"shape":"RequestLeaseOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Request a new lease from a template. Returns the created lease (201) WITHOUT a <code>leaseId</code>. A cross-user (on-behalf) request is Admin/Manager only. <code>assignments</code> is capped at 19. New group-to-lease associations are rejected when <code>leases.groupAssignmentMode</code> is <code>NONE</code>; user assignments remain allowed.</p> <p>Retry: NOT <code>@idempotent</code>. Requesting a lease allocates an account and publishes events; a retried request creates a second lease.</p>"
    },
    "RetryCleanup":{
      "name":"RetryCleanup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{awsAccountId}/retryCleanup",
        "responseCode":200
      },
      "input":{"shape":"RetryCleanupInput"},
      "output":{"shape":"RetryCleanupOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Re-drive cleanup for an account. 404 when missing; 409 when not in quarantine or already cleaning up.</p>"
    },
    "ReviewLease":{
      "name":"ReviewLease",
      "http":{
        "method":"POST",
        "requestUri":"/leases/{leaseId}/review",
        "responseCode":200
      },
      "input":{"shape":"ReviewLeaseInput"},
      "output":{"shape":"ReviewLeaseOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Approve or deny a pending lease. Body carries <code>action</code> (<code>Approve</code>/<code>Deny</code>). The success body is <code>{&quot;status&quot;:&quot;success&quot;}</code>. A pending request that already contains a group can still be approved when <code>leases.groupAssignmentMode</code> is <code>NONE</code>; the mode blocks creation of new group-to-lease associations, not completion of an existing request. 404 when missing; 409 when the lease is not pending review or (on approve) no account is available.</p>"
    },
    "SearchPrincipals":{
      "name":"SearchPrincipals",
      "http":{
        "method":"GET",
        "requestUri":"/principals/search",
        "responseCode":200
      },
      "input":{"shape":"SearchPrincipalsInput"},
      "output":{"shape":"SearchPrincipalsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Searches IDC principals for the assignment UI.</p> <p>Two modes on one route, selected by <code>exact</code>:</p> <ul> <li>fuzzy (<code>exact=false</code>, the default): case-insensitive substring match over the cached principals, capped at <code>limit</code>; requires <code>leases.enablePrincipalSearch</code> (else 403 <code>AccessDeniedError</code>);</li> <li>exact (<code>exact=true</code>): resolves one principal by exact attribute through IDC; requires a non-empty <code>q</code> and a specific <code>type</code> (<code>users</code> or <code>groups</code>, not <code>all</code>) — otherwise 400 — and returns 404 when no principal resolves. Exact lookups bypass <code>leases.enablePrincipalSearch</code>, but group lookups still require <code>leases.groupAssignmentMode</code> to be <code>ALL</code>.</li> </ul> <p>When <code>leases.groupAssignmentMode</code> is <code>NONE</code>, explicit fuzzy or exact group searches return 403, and unfiltered fuzzy searches return users only. Existing group associations remain visible through lease assignment reads.</p> <p>Applies these defaults when a parameter is absent: <code>q=&quot;&quot;</code>, <code>type=all</code>, <code>limit=20</code>, <code>exact=false</code>.</p> <p>This operation is not paginated: it is a typeahead search, not a list/describe. The caller shows the top <code>limit</code> matches (≤ 100) and never pages; <code>totalMatches</code> exists only so the UI can show &quot;N of M&quot;.</p>",
      "readonly":true
    },
    "SkipCooldown":{
      "name":"SkipCooldown",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{awsAccountId}/skipCooldown",
        "responseCode":200
      },
      "input":{"shape":"SkipCooldownInput"},
      "output":{"shape":"SkipCooldownOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Skip an account's active cleanup cooldown by resuming the durable execution. 409 when there is no active cooldown or callback to resume.</p>"
    },
    "TerminateLease":{
      "name":"TerminateLease",
      "http":{
        "method":"POST",
        "requestUri":"/leases/{leaseId}/terminate",
        "responseCode":200
      },
      "input":{"shape":"TerminateLeaseInput"},
      "output":{"shape":"TerminateLeaseOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Terminate a monitored lease. The success body is <code>{&quot;status&quot;:&quot;success&quot;}</code>. A regular caller may terminate only their own lease and only when config permits (else 403 <code>AccessDeniedError</code>, checked before existence so it is not leaked). 404 when missing; 409 when not in a terminable state or a termination is already in progress.</p>"
    },
    "UnfreezeLease":{
      "name":"UnfreezeLease",
      "http":{
        "method":"POST",
        "requestUri":"/leases/{leaseId}/unfreeze",
        "responseCode":200
      },
      "input":{"shape":"UnfreezeLeaseInput"},
      "output":{"shape":"UnfreezeLeaseOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Unfreeze a frozen lease. Unlike freeze/terminate, this returns the updated lease (200) WITH the <code>leaseId</code>. 404 when missing; 409 when not frozen, an account is not in the frozen state, or a live lock rejects it.</p>"
    },
    "UpdateBlueprint":{
      "name":"UpdateBlueprint",
      "http":{
        "method":"PUT",
        "requestUri":"/blueprints/{blueprintId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBlueprintInput"},
      "output":{"shape":"UpdateBlueprintOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Update a blueprint's mutable fields (and, when supplied, its StackSet-level deployment parameters). PATCH-style: every body member is optional. 404 when the blueprint does not exist. Retry: intentionally not <code>@idempotent</code> despite the legacy PUT method. Each call performs a partial read-modify-write and refreshes <code>meta.lastEditTime</code>, so retrying after an ambiguous response can apply another write or overwrite a concurrent edit.</p>"
    },
    "UpdateCleanupConfiguration":{
      "name":"UpdateCleanupConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/configurations/cleanup",
        "responseCode":200
      },
      "input":{"shape":"UpdateCleanupConfigurationInput"},
      "output":{"shape":"UpdateCleanupConfigurationOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Replaces the <code>cleanup</code> configuration section (full replacement — every section field is required). Uses optimistic concurrency: echo <code>meta.lastEditTime</code> from a prior read to detect a concurrent edit (409 <code>ConflictError</code> on mismatch); omit it on the first save. M2M callers are rejected with 403 — the audit trail requires a human email identity. Admin role only.</p>",
      "idempotent":true
    },
    "UpdateCostReportingConfiguration":{
      "name":"UpdateCostReportingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/configurations/costReporting",
        "responseCode":200
      },
      "input":{"shape":"UpdateCostReportingConfigurationInput"},
      "output":{"shape":"UpdateCostReportingConfigurationOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Replaces the <code>costReporting</code> configuration section (full replacement — every section field is required). Uses optimistic concurrency: echo <code>meta.lastEditTime</code> from a prior read to detect a concurrent edit (409 <code>ConflictError</code> on mismatch); omit it on the first save. M2M callers are rejected with 403 — the audit trail requires a human email identity. Admin role only.</p>",
      "idempotent":true
    },
    "UpdateLease":{
      "name":"UpdateLease",
      "http":{
        "method":"PATCH",
        "requestUri":"/leases/{leaseId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLeaseInput"},
      "output":{"shape":"UpdateLeaseOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Update a monitored (active) lease. PATCH semantics: every body member is optional. Returns the updated lease (200) WITHOUT a <code>leaseId</code>. The nullable members (<code>maxSpend</code>, <code>expirationDate</code>, <code>costReportGroup</code>) accept an explicit <code>null</code> to CLEAR the value. Non-monitored leases are rejected 400 (<code>ValidationError</code>); a missing lease is 404.</p>"
    },
    "UpdateLeaseAssignments":{
      "name":"UpdateLeaseAssignments",
      "http":{
        "method":"PUT",
        "requestUri":"/leases/{leaseId}/assignments",
        "responseCode":202
      },
      "input":{"shape":"UpdateLeaseAssignmentsInput"},
      "output":{"shape":"UpdateLeaseAssignmentsOutput"},
      "errors":[
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Replace a lease's desired principal assignments (declarative). Accepted asynchronously: success is 202 with <code>{ desiredCount }</code> — the assignment worker reconciles out of band. <code>@idempotent</code>: PUT sets the desired set, so a retry converges to the same state. <code>assignments</code> is capped at 19. Owner callers require lease sharing enabled globally and on the lease (else 403). When group assignment mode is <code>NONE</code>, existing group-to-lease associations may remain or be removed, but new associations are rejected. 404 when missing; 409 when the lease is not active or another operation holds the lock.</p>",
      "idempotent":true
    },
    "UpdateLeaseTemplate":{
      "name":"UpdateLeaseTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/leaseTemplates/{leaseTemplateId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLeaseTemplateInput"},
      "output":{"shape":"UpdateLeaseTemplateOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"NotFoundError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"}
      ],
      "documentation":"<p>Replaces a lease template.</p> <p>The body carries the full template, not a patch. <code>uuid</code>, <code>createdBy</code> and <code>blueprintName</code> are server-owned and are not part of the writable input; supplying them is rejected as an unknown member. <code>createdBy</code> is preserved from the existing template on write.</p>",
      "idempotent":true
    },
    "UpdateLeasesConfiguration":{
      "name":"UpdateLeasesConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/configurations/leases",
        "responseCode":200
      },
      "input":{"shape":"UpdateLeasesConfigurationInput"},
      "output":{"shape":"UpdateLeasesConfigurationOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Replaces the <code>leases</code> configuration section. All configuration fields are required, including <code>groupAssignmentMode</code>. Existing records that predate this field are read as <code>NONE</code>, and the next save persists that value. Uses optimistic concurrency: echo <code>meta.lastEditTime</code> from a prior read to detect a concurrent edit (409 <code>ConflictError</code> on mismatch); omit it on the first save. M2M callers are rejected with 403 — the audit trail requires a human email identity. Admin role only.</p>",
      "idempotent":true
    },
    "UpdateMaintenanceConfiguration":{
      "name":"UpdateMaintenanceConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/configurations/maintenance",
        "responseCode":200
      },
      "input":{"shape":"UpdateMaintenanceConfigurationInput"},
      "output":{"shape":"UpdateMaintenanceConfigurationOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Replaces the <code>maintenance</code> configuration section (full replacement — every section field is required). Uses optimistic concurrency: echo <code>meta.lastEditTime</code> from a prior read to detect a concurrent edit (409 <code>ConflictError</code> on mismatch); omit it on the first save. M2M callers are rejected with 403 — the audit trail requires a human email identity. Admin role only.</p>",
      "idempotent":true
    },
    "UpdateNotificationConfiguration":{
      "name":"UpdateNotificationConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/configurations/notification",
        "responseCode":200
      },
      "input":{"shape":"UpdateNotificationConfigurationInput"},
      "output":{"shape":"UpdateNotificationConfigurationOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Replaces the <code>notification</code> configuration section (full replacement — every section field is required). Uses optimistic concurrency: echo <code>meta.lastEditTime</code> from a prior read to detect a concurrent edit (409 <code>ConflictError</code> on mismatch); omit it on the first save. M2M callers are rejected with 403 — the audit trail requires a human email identity. Admin role only.</p>",
      "idempotent":true
    },
    "UpdateTermsOfServiceConfiguration":{
      "name":"UpdateTermsOfServiceConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/configurations/termsOfService",
        "responseCode":200
      },
      "input":{"shape":"UpdateTermsOfServiceConfigurationInput"},
      "output":{"shape":"UpdateTermsOfServiceConfigurationOutput"},
      "errors":[
        {"shape":"UnsupportedMediaTypeError"},
        {"shape":"UnauthenticatedError"},
        {"shape":"AccessDeniedError"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationError"},
        {"shape":"ConflictError"}
      ],
      "documentation":"<p>Replaces the <code>termsOfService</code> configuration section (full replacement — every section field is required). Uses optimistic concurrency: echo <code>meta.lastEditTime</code> from a prior read to detect a concurrent edit (409 <code>ConflictError</code> on mismatch); omit it on the first save. M2M callers are rejected with 403 — the audit trail requires a human email identity. Admin role only.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedError":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JSendStatus"},
        "message":{"shape":"String"},
        "data":{"shape":"JSendErrorData"}
      },
      "documentation":"<p>Caller authenticated but not authorized for this operation.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountMetadata":{
      "type":"structure",
      "members":{
        "createdTime":{"shape":"String"},
        "lastEditTime":{"shape":"String"}
      },
      "documentation":"<p>Record metadata. Only the timestamps are public.</p>"
    },
    "ActiveCleanup":{
      "type":"structure",
      "required":[
        "status",
        "executionArn",
        "startedAt"
      ],
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The cleanup phase. Open string: enumerated phases plus <code>NUKE_PHASE_&lt;n&gt;</code>.</p>"
        },
        "executionArn":{"shape":"String"},
        "startedAt":{"shape":"String"}
      },
      "documentation":"<p>In-flight cleanup summary attached to an account while it is being cleaned.</p>"
    },
    "AdminConfiguration":{
      "type":"structure",
      "required":[
        "leases",
        "cleanup",
        "notification",
        "maintenance",
        "termsOfService",
        "costReporting",
        "isbManagedRegions",
        "awsAccessPortalUrl"
      ],
      "members":{
        "leases":{"shape":"LeasesConfiguration"},
        "cleanup":{"shape":"CleanupConfiguration"},
        "notification":{"shape":"NotificationConfiguration"},
        "maintenance":{"shape":"MaintenanceConfiguration"},
        "termsOfService":{"shape":"TermsOfServiceConfiguration"},
        "costReporting":{"shape":"CostReportingConfiguration"},
        "isbManagedRegions":{
          "shape":"RegionList",
          "documentation":"<p>Regions the account pool is configured to manage.</p>"
        },
        "awsAccessPortalUrl":{"shape":"String"}
      },
      "documentation":"<p>The full configuration the settings UI loads: every section (each with its audit fields) plus the deploy-time fields resolved outside the config store.</p>"
    },
    "AssignmentSyncStatus":{
      "type":"string",
      "documentation":"<p>Per-principal reconciliation status of a lease assignment. Each in-flight state pairs with the failure it becomes if it never settles (<code>granting</code> → <code>grantFailed</code>, <code>revoking</code> → <code>revokeFailed</code>):</p> <ul> <li><code>active</code> — desired and assigned.</li> <li><code>granting</code> — desired, not yet assigned; an operation is in flight.</li> <li><code>revoking</code> — assigned but on its way out.</li> <li><code>suspended</code> — intentionally not assigned because the lease grants nobody access (frozen or terminal, or a freeze/terminate in flight); expected, not a failure.</li> <li><code>grantFailed</code> — desired and settled, but no assignment exists.</li> <li><code>revokeFailed</code> — settled, but an assignment exists that should not: either the principal is no longer desired, or the lease grants no access.</li> </ul>",
      "enum":[
        "active",
        "granting",
        "revoking",
        "suspended",
        "grantFailed",
        "revokeFailed"
      ]
    },
    "AssignmentView":{
      "type":"structure",
      "required":[
        "principalId",
        "principalType",
        "displayName",
        "isOwner",
        "isDesired",
        "syncStatus"
      ],
      "members":{
        "principalId":{
          "shape":"String",
          "documentation":"<p>IDC user id (for <code>USER</code> assignments) or group id (for <code>GROUP</code> assignments).</p>"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>Whether this is a direct user or a group assignment.</p>"
        },
        "displayName":{
          "shape":"String",
          "documentation":"<p>Display name of the user or group.</p>"
        },
        "assigneeEmail":{
          "shape":"OwnerEmail",
          "documentation":"<p>Email of the assigned user (USER assignments only).</p>"
        },
        "addedBy":{
          "shape":"OwnerEmail",
          "documentation":"<p>Email of the user who created this assignment. Absent for a principal that is desired but not yet granted.</p>"
        },
        "addedDate":{"shape":"String"},
        "isOwner":{
          "shape":"Boolean",
          "documentation":"<p>True for the lease owner, whose access is implicit and not removable.</p>"
        },
        "isDesired":{
          "shape":"Boolean",
          "documentation":"<p>Whether the principal is in the lease's desired set. This cannot be inferred from <code>syncStatus</code>.</p>"
        },
        "syncStatus":{"shape":"AssignmentSyncStatus"}
      },
      "documentation":"<p>One row of the assignments view: the union of a lease's desired set and its live assignments, annotated with reconciliation state. Rows sourced only from the desired set have no assignment yet, so <code>assigneeEmail</code>/<code>addedBy</code>/<code>addedDate</code> are absent.</p>"
    },
    "AssignmentViewList":{
      "type":"list",
      "member":{"shape":"AssignmentView"}
    },
    "AwsAccountId":{
      "type":"string",
      "documentation":"<p>A 12-digit AWS account id.</p>",
      "pattern":"[0-9]{12}"
    },
    "Blueprint":{
      "type":"structure",
      "required":[
        "blueprintId",
        "name",
        "createdBy",
        "deploymentTimeoutMinutes",
        "regionConcurrencyType",
        "totalHealthMetrics"
      ],
      "members":{
        "blueprintId":{"shape":"BlueprintId"},
        "name":{"shape":"BlueprintNameString"},
        "tags":{
          "shape":"BlueprintTags",
          "documentation":"<p>Key-value tags for the blueprint.</p>"
        },
        "createdBy":{"shape":"OwnerEmail"},
        "deploymentTimeoutMinutes":{"shape":"BlueprintDeploymentTimeoutMinutesDouble"},
        "regionConcurrencyType":{"shape":"RegionConcurrencyType"},
        "totalHealthMetrics":{"shape":"BlueprintHealthMetrics"},
        "meta":{"shape":"BlueprintMetadata"}
      },
      "documentation":"<p>A registered blueprint.</p>"
    },
    "BlueprintDeploymentTimeoutMinutesDouble":{
      "type":"double",
      "box":true,
      "max":480,
      "min":5
    },
    "BlueprintHealthMetrics":{
      "type":"structure",
      "required":[
        "totalDeploymentCount",
        "totalSuccessfulCount"
      ],
      "members":{
        "totalDeploymentCount":{"shape":"Double"},
        "totalSuccessfulCount":{"shape":"Double"},
        "lastDeploymentAt":{"shape":"String"}
      },
      "documentation":"<p>Aggregated blueprint health metrics (computed from all StackSets).</p>"
    },
    "BlueprintId":{
      "type":"string",
      "documentation":"<p>A blueprint id — the server-generated UUID. The pattern is the exact RFC layout (versions 1–8, variant 8/9/a/b, plus the nil and max UUIDs), so a hex-shaped but RFC-invalid id is rejected 400 rather than returning 404.</p>",
      "pattern":"([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)"
    },
    "BlueprintMetadata":{
      "type":"structure",
      "required":[
        "schemaVersion",
        "createdTime",
        "lastEditTime"
      ],
      "members":{
        "schemaVersion":{"shape":"Integer"},
        "createdTime":{"shape":"String"},
        "lastEditTime":{"shape":"String"}
      },
      "documentation":"<p>Record metadata. Timestamps are ISO 8601 strings.</p>"
    },
    "BlueprintNameString":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9-]{0,49}"
    },
    "BlueprintTagKey":{
      "type":"string",
      "documentation":"<p>Tag key: 1–128 chars from the CloudFormation-tag character set. The reserved <code>aws:</code> prefix is not allowed.</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9_:./@ +=$%&*()\\[\\]{}|\\\\!#^~?-]+"
    },
    "BlueprintTagValue":{
      "type":"string",
      "documentation":"<p>Tag value: up to 256 chars from the same set (empty allowed).</p>",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9_:./@ +=$%&*()\\[\\]{}|\\\\!#^~?-]*"
    },
    "BlueprintTags":{
      "type":"map",
      "key":{"shape":"BlueprintTagKey"},
      "value":{"shape":"BlueprintTagValue"},
      "documentation":"<p>Up to 10 key-value tags.</p>",
      "max":10,
      "min":0
    },
    "BlueprintWithStackSets":{
      "type":"structure",
      "required":[
        "blueprint",
        "stackSets"
      ],
      "members":{
        "blueprint":{"shape":"Blueprint"},
        "stackSets":{"shape":"StackSetConfigList"},
        "recentDeployments":{"shape":"DeploymentHistoryList"}
      },
      "documentation":"<p>The composite a read path returns: the blueprint, its StackSets, and the most recent deployments.</p>"
    },
    "BlueprintWithStackSetsList":{
      "type":"list",
      "member":{"shape":"BlueprintWithStackSets"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BudgetThreshold":{
      "type":"structure",
      "required":[
        "dollarsSpent",
        "action"
      ],
      "members":{
        "dollarsSpent":{"shape":"Double"},
        "action":{"shape":"ThresholdAction"}
      }
    },
    "BudgetThresholdList":{
      "type":"list",
      "member":{"shape":"BudgetThreshold"}
    },
    "CleanupConfiguration":{
      "type":"structure",
      "required":[
        "numberOfFailedAttemptsToCancelCleanup",
        "waitBeforeRetryFailedAttemptSeconds",
        "numberOfSuccessfulAttemptsToFinishCleanup",
        "waitBeforeRerunSuccessfulAttemptSeconds",
        "validation",
        "cooldownPeriodHours",
        "reportRetentionDays"
      ],
      "members":{
        "numberOfFailedAttemptsToCancelCleanup":{"shape":"CleanupConfigurationNumberOfFailedAttemptsToCancelCleanupInteger"},
        "waitBeforeRetryFailedAttemptSeconds":{"shape":"CleanupConfigurationWaitBeforeRetryFailedAttemptSecondsInteger"},
        "numberOfSuccessfulAttemptsToFinishCleanup":{"shape":"CleanupConfigurationNumberOfSuccessfulAttemptsToFinishCleanupInteger"},
        "waitBeforeRerunSuccessfulAttemptSeconds":{"shape":"CleanupConfigurationWaitBeforeRerunSuccessfulAttemptSecondsInteger"},
        "validation":{"shape":"CleanupValidation"},
        "cooldownPeriodHours":{
          "shape":"CleanupConfigurationCooldownPeriodHoursInteger",
          "documentation":"<p>Hours to hold an account in the CleanUp OU after a successful cleanup before returning it to Available (<code>0</code> = disabled; max 8640 = 360 days).</p>"
        },
        "reportRetentionDays":{
          "shape":"CleanupConfigurationReportRetentionDaysInteger",
          "documentation":"<p>Days to retain cleanup reports.</p>"
        },
        "lastSavedBy":{
          "shape":"SensitiveEmail",
          "documentation":"<p>Email of the last administrator to save the section, or a <code>system:</code> sentinel.</p>"
        },
        "meta":{"shape":"ConfigurationResponseMetadata"}
      },
      "documentation":"<p>Account cleanup retry/validation policy.</p>"
    },
    "CleanupConfigurationCooldownPeriodHoursInteger":{
      "type":"integer",
      "box":true,
      "max":8640,
      "min":0
    },
    "CleanupConfigurationNumberOfFailedAttemptsToCancelCleanupInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CleanupConfigurationNumberOfSuccessfulAttemptsToFinishCleanupInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CleanupConfigurationReportRetentionDaysInteger":{
      "type":"integer",
      "box":true,
      "max":3650,
      "min":14
    },
    "CleanupConfigurationWaitBeforeRerunSuccessfulAttemptSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CleanupConfigurationWaitBeforeRetryFailedAttemptSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CleanupExecutionContext":{
      "type":"structure",
      "required":[
        "stateMachineExecutionArn",
        "stateMachineExecutionStartTime"
      ],
      "members":{
        "stateMachineExecutionArn":{"shape":"String"},
        "stateMachineExecutionStartTime":{"shape":"String"}
      },
      "documentation":"<p>Deprecated legacy Step Function context, still emitted when present.</p>"
    },
    "CleanupFailureAction":{
      "type":"string",
      "enum":[
        "Quarantine",
        "Warn",
        "Silent"
      ]
    },
    "CleanupReport":{
      "type":"structure",
      "required":[
        "accountId",
        "durableExecutionArn",
        "status",
        "cleanupStatus",
        "startedAt",
        "reasonForCleanup",
        "steps"
      ],
      "members":{
        "accountId":{"shape":"AwsAccountId"},
        "durableExecutionArn":{"shape":"String"},
        "status":{"shape":"CleanupReportStatus"},
        "cleanupStatus":{
          "shape":"String",
          "documentation":"<p>Open string: enumerated cleanup phases plus <code>NUKE_PHASE_&lt;n&gt;</code>.</p>"
        },
        "startedAt":{"shape":"String"},
        "completedAt":{"shape":"String"},
        "reasonForCleanup":{
          "shape":"String",
          "documentation":"<p>Backward-compatible cleanup reason (enumerated plus legacy values).</p>"
        },
        "initiatedBy":{"shape":"String"},
        "resourceSummary":{"shape":"ResourceSummary"},
        "steps":{"shape":"CleanupStepList"},
        "error":{"shape":"CleanupReportError"},
        "cooldownSkippedBy":{"shape":"String"}
      },
      "documentation":"<p>A cleanup report.</p>"
    },
    "CleanupReportError":{
      "type":"structure",
      "required":[
        "step",
        "message"
      ],
      "members":{
        "step":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>A cleanup failure: the failing step and its message.</p>"
    },
    "CleanupReportList":{
      "type":"list",
      "member":{"shape":"CleanupReport"}
    },
    "CleanupReportStatus":{
      "type":"string",
      "documentation":"<p>Overall lifecycle status of a cleanup run.</p>",
      "enum":[
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED"
      ]
    },
    "CleanupStep":{
      "type":"structure",
      "required":[
        "name",
        "startedAt"
      ],
      "members":{
        "name":{"shape":"String"},
        "startedAt":{"shape":"String"},
        "completedAt":{"shape":"String"},
        "meta":{"shape":"Document"}
      },
      "documentation":"<p>One appended cleanup step. <code>meta</code> carries step-specific data as an opaque map.</p>"
    },
    "CleanupStepList":{
      "type":"list",
      "member":{"shape":"CleanupStep"}
    },
    "CleanupValidation":{
      "type":"structure",
      "required":["failureAction"],
      "members":{
        "failureAction":{
          "shape":"CleanupFailureAction",
          "documentation":"<p>Action taken when post-cleanup Resource Explorer validation finds resources remaining in the account.</p>"
        }
      }
    },
    "ConcurrencyMode":{
      "type":"string",
      "documentation":"<p>CloudFormation StackSet concurrency mode — how concurrency reacts to failures.</p>",
      "enum":[
        "STRICT_FAILURE_TOLERANCE",
        "SOFT_FAILURE_TOLERANCE"
      ]
    },
    "ConfigurationResponseMetadata":{
      "type":"structure",
      "required":[
        "createdTime",
        "lastEditTime"
      ],
      "members":{
        "createdTime":{"shape":"String"},
        "lastEditTime":{
          "shape":"String",
          "documentation":"<p>The optimistic-concurrency token: a write must echo the value it last read, or the store rejects it with a 409. Opaque — echoed back unchanged.</p>"
        }
      },
      "documentation":"<p>Response metadata. Both timestamps are <code>@required</code>: a saved section always carries both, and a partial <code>meta</code> must never be sent back — a <code>meta</code> missing <code>lastEditTime</code> would drop the concurrency token and silently downgrade the next write to a first-save.</p>"
    },
    "ConfigurationWriteMetadata":{
      "type":"structure",
      "members":{
        "lastEditTime":{"shape":"String"}
      },
      "documentation":"<p>Write-side metadata: only the optimistic-concurrency token. <code>createdTime</code> is server-owned and excluded; a first save omits <code>lastEditTime</code> entirely.</p>"
    },
    "ConflictError":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JSendStatus"},
        "message":{"shape":"String"},
        "data":{"shape":"JSendErrorData"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContinuationToken":{
      "type":"string",
      "documentation":"<p>Opaque pagination token.</p>",
      "sensitive":true
    },
    "CostReportGroup":{
      "type":"string",
      "max":50,
      "min":1
    },
    "CostReportGroupList":{
      "type":"list",
      "member":{"shape":"CostReportGroup"},
      "max":250,
      "min":0
    },
    "CostReportingConfiguration":{
      "type":"structure",
      "required":[
        "costReportGroups",
        "requireCostReportGroup"
      ],
      "members":{
        "costReportGroups":{
          "shape":"CostReportGroupList",
          "documentation":"<p>Valid cost-report-group values selectable on lease templates.</p>"
        },
        "requireCostReportGroup":{
          "shape":"Boolean",
          "documentation":"<p>Whether a cost report group is required on lease templates.</p>"
        },
        "lastSavedBy":{
          "shape":"SensitiveEmail",
          "documentation":"<p>Email of the last administrator to save the section, or a <code>system:</code> sentinel.</p>"
        },
        "meta":{"shape":"ConfigurationResponseMetadata"}
      },
      "documentation":"<p>Cost-report grouping policy.</p>"
    },
    "CreateLeaseTemplateInput":{
      "type":"structure",
      "required":[
        "name",
        "requiresApproval"
      ],
      "members":{
        "maxSpend":{"shape":"Double"},
        "budgetThresholds":{"shape":"BudgetThresholdList"},
        "leaseDurationInHours":{"shape":"Double"},
        "durationThresholds":{"shape":"DurationThresholdList"},
        "costReportGroup":{"shape":"CreateLeaseTemplateInputCostReportGroupString"},
        "name":{"shape":"CreateLeaseTemplateInputNameString"},
        "description":{"shape":"String"},
        "requiresApproval":{"shape":"Boolean"},
        "visibility":{"shape":"Visibility"},
        "blueprintId":{
          "shape":"String",
          "documentation":"<p>Blueprint to attach. <code>blueprintName</code> is resolved server-side.</p>"
        },
        "allowOwnerToShareLease":{"shape":"Boolean"}
      },
      "documentation":"<p>The client-writable members of a lease template, shared by the create and update inputs. Both accept the same set — requiredness and constraints are identical and neither operation is a patch.</p> <p><code>uuid</code>, <code>createdBy</code> and <code>blueprintName</code> are deliberately absent — they are server-owned.</p>"
    },
    "CreateLeaseTemplateInputCostReportGroupString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "CreateLeaseTemplateInputNameString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "CreateLeaseTemplateOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{
          "shape":"LeaseTemplate",
          "documentation":"<p>The created template, placed directly in <code>data</code> rather than under a further key.</p>"
        }
      }
    },
    "CurrentLease":{
      "type":"structure",
      "required":[
        "leaseId",
        "ownerEmail"
      ],
      "members":{
        "leaseId":{"shape":"String"},
        "ownerEmail":{"shape":"OwnerEmail"}
      },
      "documentation":"<p>The lease currently occupying the account, when one does.</p>"
    },
    "DeleteBlueprintData":{
      "type":"structure",
      "required":[
        "message",
        "blueprintId"
      ],
      "members":{
        "message":{"shape":"String"},
        "blueprintId":{"shape":"BlueprintId"}
      },
      "documentation":"<p>The delete success payload: a confirmation message plus the deleted blueprint id.</p>"
    },
    "DeleteBlueprintInput":{
      "type":"structure",
      "required":["blueprintId"],
      "members":{
        "blueprintId":{
          "shape":"BlueprintId",
          "location":"uri",
          "locationName":"blueprintId"
        }
      }
    },
    "DeleteBlueprintOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"DeleteBlueprintData"}
      }
    },
    "DeleteLeaseTemplateInput":{
      "type":"structure",
      "required":["leaseTemplateId"],
      "members":{
        "leaseTemplateId":{
          "shape":"String",
          "documentation":"<p>Lease template UUID. The API Gateway path segment is named <code>leaseTemplateName</code>, but the value is the template's UUID, not its display name.</p>",
          "location":"uri",
          "locationName":"leaseTemplateId"
        }
      }
    },
    "DeleteLeaseTemplateOutput":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JSendStatus"}
      }
    },
    "DeploymentHistory":{
      "type":"structure",
      "required":[
        "stackSetId",
        "leaseId",
        "accountId",
        "status",
        "operationId",
        "deploymentStartedAt"
      ],
      "members":{
        "stackSetId":{"shape":"String"},
        "leaseId":{"shape":"String"},
        "accountId":{"shape":"String"},
        "status":{"shape":"DeploymentStatus"},
        "operationId":{"shape":"String"},
        "deploymentStartedAt":{"shape":"String"},
        "deploymentCompletedAt":{"shape":"String"},
        "duration":{"shape":"Double"},
        "errorType":{"shape":"String"},
        "errorMessage":{"shape":"String"}
      }
    },
    "DeploymentHistoryList":{
      "type":"list",
      "member":{"shape":"DeploymentHistory"}
    },
    "DeploymentStatus":{
      "type":"string",
      "documentation":"<p>StackSet-operation deployment status (mirrors the CloudFormation values).</p>",
      "enum":[
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "QUEUED"
      ]
    },
    "DesiredAssignment":{
      "type":"structure",
      "required":[
        "principalId",
        "principalType"
      ],
      "members":{
        "principalId":{
          "shape":"String",
          "documentation":"<p>IDC principal id.</p>"
        },
        "principalType":{"shape":"PrincipalType"}
      },
      "documentation":"<p>A caller-supplied desired assignment: the target principal and its kind. Used by <code>RequestLease</code> and <code>UpdateLeaseAssignments</code> request bodies.</p>"
    },
    "DesiredAssignmentWithDisplay":{
      "type":"structure",
      "required":[
        "principalId",
        "principalType"
      ],
      "members":{
        "principalId":{"shape":"String"},
        "principalType":{"shape":"PrincipalType"},
        "displayName":{"shape":"String"},
        "email":{"shape":"OwnerEmail"}
      },
      "documentation":"<p>A desired assignment enriched with display metadata.</p>"
    },
    "DesiredAssignmentWithDisplayList":{
      "type":"list",
      "member":{"shape":"DesiredAssignmentWithDisplay"}
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DurationThreshold":{
      "type":"structure",
      "required":[
        "hoursRemaining",
        "action"
      ],
      "members":{
        "hoursRemaining":{"shape":"Double"},
        "action":{"shape":"ThresholdAction"}
      }
    },
    "DurationThresholdList":{
      "type":"list",
      "member":{"shape":"DurationThreshold"}
    },
    "EjectAccountInput":{
      "type":"structure",
      "required":["awsAccountId"],
      "members":{
        "awsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"awsAccountId"
        }
      }
    },
    "EjectAccountOutput":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JSendStatus"}
      }
    },
    "FieldError":{
      "type":"structure",
      "members":{
        "field":{
          "shape":"String",
          "documentation":"<p>Dotted path to the rejected field, or <code>input</code> when not attributable to one field.</p>"
        },
        "message":{"shape":"String"}
      }
    },
    "FieldErrorList":{
      "type":"list",
      "member":{"shape":"FieldError"}
    },
    "FreezeLeaseInput":{
      "type":"structure",
      "required":["leaseId"],
      "members":{
        "leaseId":{
          "shape":"LeaseId",
          "location":"uri",
          "locationName":"leaseId"
        }
      }
    },
    "FreezeLeaseOutput":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JSendStatus"}
      }
    },
    "GetAccountInput":{
      "type":"structure",
      "required":["awsAccountId"],
      "members":{
        "awsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"awsAccountId"
        }
      }
    },
    "GetAccountOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"SandboxAccount"}
      }
    },
    "GetBlueprintInput":{
      "type":"structure",
      "required":["blueprintId"],
      "members":{
        "blueprintId":{
          "shape":"BlueprintId",
          "location":"uri",
          "locationName":"blueprintId"
        }
      }
    },
    "GetBlueprintOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"BlueprintWithStackSets"}
      }
    },
    "GetCleanupConfigurationOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"CleanupConfiguration"}
      }
    },
    "GetConfigurationsOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"AdminConfiguration"}
      }
    },
    "GetCostReportingConfigurationOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"CostReportingConfiguration"}
      }
    },
    "GetLeaseAssignmentsInput":{
      "type":"structure",
      "required":["leaseId"],
      "members":{
        "leaseId":{
          "shape":"LeaseId",
          "location":"uri",
          "locationName":"leaseId"
        }
      }
    },
    "GetLeaseAssignmentsOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"LeaseAssignmentsView"}
      }
    },
    "GetLeaseInput":{
      "type":"structure",
      "required":["leaseId"],
      "members":{
        "leaseId":{
          "shape":"LeaseId",
          "location":"uri",
          "locationName":"leaseId"
        }
      }
    },
    "GetLeaseOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"LeaseWithId"}
      }
    },
    "GetLeaseTemplateInput":{
      "type":"structure",
      "required":["leaseTemplateId"],
      "members":{
        "leaseTemplateId":{
          "shape":"String",
          "documentation":"<p>Lease template UUID. The API Gateway path segment is named <code>leaseTemplateName</code>, but the value is the template's UUID, not its display name.</p>",
          "location":"uri",
          "locationName":"leaseTemplateId"
        }
      }
    },
    "GetLeaseTemplateOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"LeaseTemplate"}
      }
    },
    "GetLeasesConfigurationOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"LeasesConfiguration"}
      }
    },
    "GetMaintenanceConfigurationOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"MaintenanceConfiguration"}
      }
    },
    "GetNotificationConfigurationOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"NotificationConfiguration"}
      }
    },
    "GetTermsOfServiceConfigurationOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"TermsOfServiceConfiguration"}
      }
    },
    "GroupAssignmentMode":{
      "type":"string",
      "enum":[
        "ALL",
        "NONE"
      ]
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerError":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JSendStatus"},
        "message":{"shape":"String"},
        "data":{"shape":"JSendErrorData"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "JSendErrorData":{
      "type":"structure",
      "members":{
        "errors":{"shape":"FieldErrorList"}
      },
      "documentation":"<p>Failure payload. Populated for validation failures; absent on errors that carry only a top-level message.</p>"
    },
    "JSendStatus":{
      "type":"string",
      "documentation":"<p><code>success</code> on 2xx, <code>fail</code> on 4xx, <code>error</code> on 5xx.</p>",
      "enum":[
        "success",
        "fail",
        "error"
      ]
    },
    "Lease":{
      "type":"structure",
      "required":[
        "userEmail",
        "uuid",
        "status",
        "originalLeaseTemplateUuid",
        "originalLeaseTemplateName"
      ],
      "members":{
        "userEmail":{
          "shape":"OwnerEmail",
          "documentation":"<p>Lease owner / assignee email. Half of the composite key.</p>"
        },
        "uuid":{
          "shape":"String",
          "documentation":"<p>Server-generated lease UUID. Half of the composite key.</p>"
        },
        "status":{"shape":"LeaseStatus"},
        "originalLeaseTemplateUuid":{
          "shape":"String",
          "documentation":"<p>UUID of the lease template this lease was requested from.</p>"
        },
        "originalLeaseTemplateName":{
          "shape":"LeaseOriginalLeaseTemplateNameString",
          "documentation":"<p>Name copied from the template at request time.</p>"
        },
        "comments":{
          "shape":"String",
          "documentation":"<p>Free-text requester comments (max 1000 characters).</p>"
        },
        "createdBy":{
          "shape":"OwnerEmail",
          "documentation":"<p>Set only for a cross-user (on-behalf) request; the elevated caller's email.</p>"
        },
        "blueprintId":{
          "shape":"String",
          "documentation":"<p>Blueprint copied from the template for deployment. Absent when the template had none.</p>"
        },
        "blueprintName":{"shape":"String"},
        "allowOwnerToShareLease":{"shape":"Boolean"},
        "desiredAssignments":{
          "shape":"DesiredAssignmentWithDisplayList",
          "documentation":"<p>Declarative desired principal assignments (owner + shared users/groups), each optionally enriched with display metadata for the assignments UI.</p>"
        },
        "resourceLock":{
          "shape":"LeaseResourceLock",
          "documentation":"<p>Record-level optimistic lock for in-flight assignment/lifecycle operations.</p>"
        },
        "maxSpend":{"shape":"Double"},
        "budgetThresholds":{"shape":"BudgetThresholdList"},
        "leaseDurationInHours":{"shape":"Double"},
        "durationThresholds":{"shape":"DurationThresholdList"},
        "costReportGroup":{"shape":"LeaseCostReportGroupString"},
        "meta":{
          "shape":"LeaseMetadata",
          "documentation":"<p>Record metadata (creation and last-edit timestamps).</p>"
        },
        "awsAccountId":{"shape":"AwsAccountId"},
        "approvedBy":{
          "shape":"String",
          "documentation":"<p>Approver email or the literal <code>AUTO_APPROVED</code>.</p>"
        },
        "startDate":{
          "shape":"String",
          "documentation":"<p>ISO 8601 instant.</p>"
        },
        "expirationDate":{"shape":"String"},
        "lastCheckedDate":{"shape":"String"},
        "totalCostAccrued":{"shape":"Double"},
        "endDate":{"shape":"String"},
        "ttl":{
          "shape":"Long",
          "documentation":"<p>TTL as a Unix-epoch-seconds timestamp. Present on terminal/denied leases.</p>"
        }
      },
      "documentation":"<p>The public lease projection. Body-returning writes (<code>RequestLease</code>, <code>UpdateLease</code>) emit this WITHOUT <code>leaseId</code>; read paths emit <code>LeaseWithId</code>.</p>"
    },
    "LeaseAssignmentsView":{
      "type":"structure",
      "required":["assignments"],
      "members":{
        "assignments":{"shape":"AssignmentViewList"},
        "operationInProgress":{"shape":"LeaseLockIntent"}
      },
      "documentation":"<p>The assignments view plus the operation currently reconciling it.</p>"
    },
    "LeaseCostReportGroupString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "LeaseId":{
      "type":"string",
      "documentation":"<p>A lease's public identifier: the base64url-encoded <code>{userEmail, uuid}</code> composite key (URL-safe alphabet, no padding). Present on read/unfreeze outputs and list items; absent from the <code>Lease</code> returned by <code>RequestLease</code>/<code>UpdateLease</code>.</p>",
      "pattern":"[A-Za-z0-9_-]+"
    },
    "LeaseLockIntent":{
      "type":"string",
      "documentation":"<p>Intent recorded on a lease's concurrency lock. Critical intents (<code>TERMINATE</code>, <code>FREEZE</code>) can preempt overridable ones (<code>UPDATE</code>, <code>PUBLISH</code>, <code>UNFREEZE</code>).</p>",
      "enum":[
        "TERMINATE",
        "FREEZE",
        "UPDATE",
        "PUBLISH",
        "UNFREEZE"
      ]
    },
    "LeaseLockMeta":{
      "type":"structure",
      "required":["intent"],
      "members":{
        "intent":{
          "shape":"LeaseLockIntent",
          "documentation":"<p>The operation the lock was taken for.</p>"
        }
      },
      "documentation":"<p>Lock context for a lease.</p>"
    },
    "LeaseMetadata":{
      "type":"structure",
      "members":{
        "createdTime":{"shape":"String"},
        "lastEditTime":{"shape":"String"}
      },
      "documentation":"<p>Lease record metadata: creation and last-edit timestamps.</p>"
    },
    "LeaseOriginalLeaseTemplateNameString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "LeaseResourceLock":{
      "type":"structure",
      "required":[
        "ownerId",
        "acquiredAt",
        "expiresAt"
      ],
      "members":{
        "ownerId":{
          "shape":"LeaseResourceLockOwnerIdString",
          "documentation":"<p>Identifier of the operation holding the lock.</p>"
        },
        "acquiredAt":{
          "shape":"String",
          "documentation":"<p>When the lock was acquired.</p>"
        },
        "expiresAt":{
          "shape":"String",
          "documentation":"<p>When the lock expires; past this point the lock is treated as absent.</p>"
        },
        "meta":{
          "shape":"LeaseLockMeta",
          "documentation":"<p>Lease-specific lock context (the operation holding the lock).</p>"
        }
      },
      "documentation":"<p>A lease's record-level optimistic lock, held while assignment processing runs. Clients read it to gate lease actions; a lock whose <code>expiresAt</code> has passed is treated as absent.</p>"
    },
    "LeaseResourceLockOwnerIdString":{
      "type":"string",
      "min":1
    },
    "LeaseStatus":{
      "type":"string",
      "documentation":"<p>Every lease lifecycle status.</p>",
      "enum":[
        "PendingApproval",
        "ApprovalDenied",
        "Active",
        "Frozen",
        "Provisioning",
        "Expired",
        "BudgetExceeded",
        "ManuallyTerminated",
        "UserTerminated",
        "AccountQuarantined",
        "Ejected",
        "ProvisioningFailed"
      ]
    },
    "LeaseTemplate":{
      "type":"structure",
      "required":[
        "uuid",
        "name",
        "requiresApproval",
        "createdBy",
        "visibility",
        "allowOwnerToShareLease"
      ],
      "members":{
        "maxSpend":{"shape":"Double"},
        "budgetThresholds":{"shape":"BudgetThresholdList"},
        "leaseDurationInHours":{"shape":"Double"},
        "durationThresholds":{"shape":"DurationThresholdList"},
        "costReportGroup":{"shape":"LeaseTemplateCostReportGroupString"},
        "uuid":{
          "shape":"String",
          "documentation":"<p>Unique identifier for the lease template.</p>"
        },
        "name":{"shape":"LeaseTemplateNameString"},
        "description":{"shape":"String"},
        "requiresApproval":{"shape":"Boolean"},
        "createdBy":{
          "shape":"OwnerEmail",
          "documentation":"<p>Owner email.</p>"
        },
        "visibility":{"shape":"Visibility"},
        "blueprintId":{"shape":"String"},
        "blueprintName":{
          "shape":"String",
          "documentation":"<p>Resolved from the blueprint store; not client-provided.</p>"
        },
        "allowOwnerToShareLease":{"shape":"Boolean"},
        "meta":{"shape":"Metadata"}
      },
      "documentation":"<p>Budget and duration settings shared by the template and its create input. The hour and dollar fields accept fractional values, so a 1.5-hour template is valid; each must be greater than zero.</p>"
    },
    "LeaseTemplateCostReportGroupString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "LeaseTemplateList":{
      "type":"list",
      "member":{"shape":"LeaseTemplate"}
    },
    "LeaseTemplateNameString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "LeaseTemplatePage":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"LeaseTemplateList"},
        "nextPageIdentifier":{
          "shape":"ContinuationToken",
          "documentation":"<p>Opaque continuation token.</p>"
        }
      },
      "documentation":"<p>Paginated payload. <code>nextPageIdentifier</code> is null on the final page.</p>"
    },
    "LeaseWithId":{
      "type":"structure",
      "required":[
        "userEmail",
        "uuid",
        "status",
        "originalLeaseTemplateUuid",
        "originalLeaseTemplateName",
        "leaseId"
      ],
      "members":{
        "userEmail":{
          "shape":"OwnerEmail",
          "documentation":"<p>Lease owner / assignee email. Half of the composite key.</p>"
        },
        "uuid":{
          "shape":"String",
          "documentation":"<p>Server-generated lease UUID. Half of the composite key.</p>"
        },
        "status":{"shape":"LeaseStatus"},
        "originalLeaseTemplateUuid":{
          "shape":"String",
          "documentation":"<p>UUID of the lease template this lease was requested from.</p>"
        },
        "originalLeaseTemplateName":{
          "shape":"LeaseWithIdOriginalLeaseTemplateNameString",
          "documentation":"<p>Name copied from the template at request time.</p>"
        },
        "comments":{
          "shape":"String",
          "documentation":"<p>Free-text requester comments (max 1000 characters).</p>"
        },
        "createdBy":{
          "shape":"OwnerEmail",
          "documentation":"<p>Set only for a cross-user (on-behalf) request; the elevated caller's email.</p>"
        },
        "blueprintId":{
          "shape":"String",
          "documentation":"<p>Blueprint copied from the template for deployment. Absent when the template had none.</p>"
        },
        "blueprintName":{"shape":"String"},
        "allowOwnerToShareLease":{"shape":"Boolean"},
        "desiredAssignments":{
          "shape":"DesiredAssignmentWithDisplayList",
          "documentation":"<p>Declarative desired principal assignments (owner + shared users/groups), each optionally enriched with display metadata for the assignments UI.</p>"
        },
        "resourceLock":{
          "shape":"LeaseResourceLock",
          "documentation":"<p>Record-level optimistic lock for in-flight assignment/lifecycle operations.</p>"
        },
        "maxSpend":{"shape":"Double"},
        "budgetThresholds":{"shape":"BudgetThresholdList"},
        "leaseDurationInHours":{"shape":"Double"},
        "durationThresholds":{"shape":"DurationThresholdList"},
        "costReportGroup":{"shape":"LeaseWithIdCostReportGroupString"},
        "meta":{
          "shape":"LeaseMetadata",
          "documentation":"<p>Record metadata (creation and last-edit timestamps).</p>"
        },
        "awsAccountId":{"shape":"AwsAccountId"},
        "approvedBy":{
          "shape":"String",
          "documentation":"<p>Approver email or the literal <code>AUTO_APPROVED</code>.</p>"
        },
        "startDate":{
          "shape":"String",
          "documentation":"<p>ISO 8601 instant.</p>"
        },
        "expirationDate":{"shape":"String"},
        "lastCheckedDate":{"shape":"String"},
        "totalCostAccrued":{"shape":"Double"},
        "endDate":{"shape":"String"},
        "ttl":{
          "shape":"Long",
          "documentation":"<p>TTL as a Unix-epoch-seconds timestamp. Present on terminal/denied leases.</p>"
        },
        "leaseId":{"shape":"LeaseId"}
      },
      "documentation":"<p>A <code>Lease</code> that carries the <code>leaseId</code> (base64url composite key). Returned by <code>GetLease</code> and <code>UnfreezeLease</code> and as the <code>ListLeases</code> result items.</p>"
    },
    "LeaseWithIdCostReportGroupString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "LeaseWithIdList":{
      "type":"list",
      "member":{"shape":"LeaseWithId"}
    },
    "LeaseWithIdOriginalLeaseTemplateNameString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "LeasesConfiguration":{
      "type":"structure",
      "required":[
        "requireMaxBudget",
        "maxBudget",
        "requireMaxDuration",
        "maxDurationHours",
        "maxLeasesPerUser",
        "ttl",
        "allowUserLeaseTermination",
        "leaseRequestWindowHours",
        "maxLeaseRequestsPerWindow",
        "leaseSharingEnabled",
        "enablePrincipalSearch",
        "groupAssignmentMode"
      ],
      "members":{
        "requireMaxBudget":{"shape":"Boolean"},
        "maxBudget":{"shape":"LeasesConfigurationMaxBudgetInteger"},
        "requireMaxDuration":{"shape":"Boolean"},
        "maxDurationHours":{"shape":"LeasesConfigurationMaxDurationHoursInteger"},
        "maxLeasesPerUser":{"shape":"LeasesConfigurationMaxLeasesPerUserInteger"},
        "ttl":{
          "shape":"LeasesConfigurationTtlInteger",
          "documentation":"<p>Number of days the solution stores expired lease records before purging them.</p>"
        },
        "allowUserLeaseTermination":{
          "shape":"Boolean",
          "documentation":"<p>Whether users can self-terminate their own active leases.</p>"
        },
        "leaseRequestWindowHours":{
          "shape":"LeasesConfigurationLeaseRequestWindowHoursInteger",
          "documentation":"<p>Rolling window duration (hours) for rate-limiting lease requests.</p>"
        },
        "maxLeaseRequestsPerWindow":{
          "shape":"LeasesConfigurationMaxLeaseRequestsPerWindowInteger",
          "documentation":"<p>Maximum number of leases a user can request within the rolling window.</p>"
        },
        "leaseSharingEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Whether the multi-user lease-sharing feature is globally enabled.</p>"
        },
        "enablePrincipalSearch":{
          "shape":"Boolean",
          "documentation":"<p>Whether the <code>GET /principals/search</code> typeahead API is available.</p>"
        },
        "groupAssignmentMode":{
          "shape":"GroupAssignmentMode",
          "documentation":"<p>Controls whether IDC groups can be selected for lease assignments. Existing stored configurations that predate this policy are read as <code>NONE</code>. Existing group assignments are retained when set to <code>NONE</code>.</p>"
        },
        "lastSavedBy":{
          "shape":"SensitiveEmail",
          "documentation":"<p>Email of the last administrator to save the section, or a <code>system:</code> sentinel.</p>"
        },
        "meta":{"shape":"ConfigurationResponseMetadata"}
      },
      "documentation":"<p>Lease request/budget/duration policy.</p>"
    },
    "LeasesConfigurationLeaseRequestWindowHoursInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "LeasesConfigurationMaxBudgetInteger":{
      "type":"integer",
      "box":true,
      "max":1000000000,
      "min":0
    },
    "LeasesConfigurationMaxDurationHoursInteger":{
      "type":"integer",
      "box":true,
      "max":87600,
      "min":0
    },
    "LeasesConfigurationMaxLeaseRequestsPerWindowInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "LeasesConfigurationMaxLeasesPerUserInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "LeasesConfigurationTtlInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "ListAccountsInput":{
      "type":"structure",
      "members":{
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListAccountsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListAccountsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":2000,
      "min":1
    },
    "ListAccountsOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"ListAccountsResult"}
      }
    },
    "ListAccountsResult":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"SandboxAccountList"},
        "nextPageIdentifier":{"shape":"ContinuationToken"},
        "error":{"shape":"String"}
      },
      "documentation":"<p><code>error</code> is an optional validation-warning string forwarded verbatim; a non-contractual diagnostic, not a failure.</p>"
    },
    "ListBlueprintsInput":{
      "type":"structure",
      "members":{
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListBlueprintsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListBlueprintsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListBlueprintsOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"ListBlueprintsResult"}
      }
    },
    "ListBlueprintsResult":{
      "type":"structure",
      "required":["blueprints"],
      "members":{
        "blueprints":{"shape":"BlueprintWithStackSetsList"},
        "nextPageIdentifier":{"shape":"ContinuationToken"}
      }
    },
    "ListCleanupReportsInput":{
      "type":"structure",
      "required":["awsAccountId"],
      "members":{
        "awsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"awsAccountId"
        },
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListCleanupReportsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListCleanupReportsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "ListCleanupReportsOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"ListCleanupReportsResult"}
      }
    },
    "ListCleanupReportsResult":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"CleanupReportList"},
        "nextPageIdentifier":{"shape":"ContinuationToken"}
      }
    },
    "ListLeaseTemplatesInput":{
      "type":"structure",
      "members":{
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "documentation":"<p>Opaque continuation token from a previous response. Server-owned; clients must not construct or interpret it.</p>",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListLeaseTemplatesInputMaxResultsInteger",
          "documentation":"<p>Maximum page size. The operation defaults it to 2000 when absent. A non-numeric, out-of-range, or repeated value is rejected as a 400.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListLeaseTemplatesInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":2000,
      "min":1
    },
    "ListLeaseTemplatesOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"LeaseTemplatePage"}
      }
    },
    "ListLeasesInput":{
      "type":"structure",
      "members":{
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListLeasesInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "userEmail":{
          "shape":"OwnerEmail",
          "documentation":"<p>Optional owner filter.</p>",
          "location":"querystring",
          "locationName":"userEmail"
        }
      }
    },
    "ListLeasesInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":2000,
      "min":1
    },
    "ListLeasesOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"ListLeasesResult"}
      }
    },
    "ListLeasesResult":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"LeaseWithIdList"},
        "nextPageIdentifier":{"shape":"ContinuationToken"},
        "error":{"shape":"String"}
      },
      "documentation":"<p><code>error</code> is an optional diagnostic warning string. It is non-contractual, not a failure.</p>"
    },
    "ListSharedLeasesInput":{
      "type":"structure",
      "required":[
        "userId",
        "accessType"
      ],
      "members":{
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListSharedLeasesInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "userId":{
          "shape":"String",
          "documentation":"<p>The IDC user whose shared leases to list.</p>",
          "location":"querystring",
          "locationName":"userId"
        },
        "accessType":{
          "shape":"SharedLeaseAccessType",
          "location":"querystring",
          "locationName":"accessType"
        }
      }
    },
    "ListSharedLeasesInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListSharedLeasesOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"ListSharedLeasesResult"}
      }
    },
    "ListSharedLeasesResult":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"SharedLeaseList"},
        "nextPageIdentifier":{"shape":"ContinuationToken"},
        "error":{"shape":"String"}
      }
    },
    "ListStackSetsInput":{
      "type":"structure",
      "members":{
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListStackSetsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListStackSetsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListStackSetsOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"ListStackSetsResult"}
      }
    },
    "ListStackSetsResult":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"StackSetSummaryList"},
        "nextPageIdentifier":{"shape":"ContinuationToken"}
      }
    },
    "ListUnregisteredAccountsInput":{
      "type":"structure",
      "members":{
        "pageIdentifier":{
          "shape":"ContinuationToken",
          "location":"querystring",
          "locationName":"pageIdentifier"
        },
        "maxResults":{
          "shape":"ListUnregisteredAccountsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListUnregisteredAccountsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "ListUnregisteredAccountsOutput":{
      "type":"structure",
      "required":[
        "status",
        "data"
      ],
      "members":{
        "status":{"shape":"JSendStatus"},
        "data":{"shape":"ListUnregisteredAccountsResult"}
      }
    },
    "ListUnregisteredAccountsResult":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"UnregisteredAccountList"},
        "nextPageIdentifier":{"shape":"ContinuationToken"}
      }
    },
    "LockMeta":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "MaintenanceConfiguration":{
      "type":"structure",
      "required":["enabled"],
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>When true, prevents creation of new leases. Fresh installs default to true.</p>"
        },
        "lastSavedBy":{
          "shape":"SensitiveEmail",
          "documentation":"<p>Email of the last administrator to save the section, or a <code>system:</code> sentinel.</p>"
        },
        "meta":{"shape":"ConfigurationResponseMetadata"}
      },
      "documentation":"<p>Maintenance-mode toggle.</p>"
    },
    "Metadata":{
      "type":"structure",
      "members":{
        "createdTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>Time when the resource was created, as an ISO 8601 string.</p>"
        },
        "lastEditTime":{"shape":"SyntheticTimestamp_date_time"},
        "schemaVersion":{
          "shape":"Integer",
          "deprecated":true,
          "deprecatedMessage":"Scheduled for removal in a future API version."
        }
      },
      "documentation":"<p>Server-owned record metadata.</p>"
    },
    "NotFoundError":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"JSendStatus"},
        "message":{"shape":"String"},
        "data":{"shape":"JSendErrorData"}
      },
      "documentation":"<p>The addressed resource does not exist, or the caller is not entitled to learn that it exists. A PRIVATE lease template returns this rather than a 403 to callers without the Admin or Manager role.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "NotificationConfiguration":{
      "type":"structure",
      "required":["emailFrom"],
      "members":{
        "emailFrom":{
          "shape":"NotificationConfigurationEmailFromString",
          "documentation":"<p>From address used for notification emails; an empty string disables notifications.</p>"
        },
        "lastSavedBy":{
          "shape":"SensitiveEmail",
          "documentation":"<p>Email of the last administrator to save the section, or a <code>system:</code> sentinel.</p>"
        },
        "meta":{"shape":"ConfigurationResponseMetadata"}
      },
      "documentation":"<p>Notification sender configuration.</p>"
    },
    "NotificationConfigurationEmailFromString":{
      "type":"string",
      "documentation":"<p>An email address (or a <code>system:</code> sentinel for <code>lastSavedBy</code>).</p>",
      "max":254,
      "min":0,
      "sensitive":true
    },
    "OwnerEmail":{
      "type":"string",
      "documentation":"<p>An email address.</p>",
      "sensitive":true
    },
    "Principal":{
      "type":"structure",
      "required":[
        "principalId",
        "principalType"
      ],
      "members":{
        "principalId":{
          "shape":"String",
          "documentation":"<p>IDC identifier for the user or group.</p>"
        },
        "principalType":{"shape":"PrincipalType"},
        "displayName":{
          "shape":"String",
          "documentation":"<p>Human-readable name shown in the assignment UI. Optional: may be absent when the principal has no display name.</p>"
        },
        "email":{
          "shape":"OwnerEmail",
          "documentation":"<p>Present for users, absent for groups.</p>"
        }
      },
      "documentation":"<p>A resolved IDC principal in the search response.</p>"
    },
    "PrincipalList":{
      "type":"list",
      "member":{"shape":"Principal"}
    },
    "PrincipalSearchResult":{
      "type":"structure",
      "required":[
        "principals",
        "totalMatches"
      ],
      "members":{
        "principals":{"shape":"PrincipalList"},
        "totalMatches":{
          "shape":"Integer",
          "documentation":"<p>Total matches before the <code>limit</code> cap (the returned list may be shorter).</p>"
        }
      },
[...]
